<div class="test">

    <h1>Test page</h1>

    {% set startTypeArrow = startTypeArrow|merge({
        class:'test__start',
    }) %}
    {% include 'Start/Type/Arrow/start--type--arrow.twig' with startTypeArrow only %}

    <h3>Test a new php render</h3>
    {{ startTypeArrowHtml }}

</div>