<div class="start{% if class is defined %} {{ class }}{% endif %}">
    <div class="start__wrapper">
        <p>{{ title }}</p>
        <p class="start__text">{{ text }}</p>

        {% verbatim %}

        <p class="start__intro"
           @click="onIntroClick">{{ introText }}</p>

         {% endverbatim %}

        {% block footer %}{% endblock footer %}

    </div>
</div>