<div class="demo-page">

    <h1>Demo page</h1>

    <p class="demo-page__message"></p>

    {% include demoBlockTypeArrow._template with demoBlockTypeArrow|merge({
        class:'demo-page__start',
    }) only %}

</div>