<div class="demo-page">

    <h1>Demo page</h1>

    <p class="demo-page__message"></p>

    {{ _include(demoBlockTypeArrow,{classes:['demo-page__first',],}) }}

    {{ _include(demoBlockTypeCircle,{classes:['demo-page__second',],}) }}

</div>