<div class="demo-block{% if classes %} {{ classes|join(' ') }}{% endif %}">
    <div class="demo-block__wrapper">
        <p>{{ title }}</p>
        <p class="demo-block__text">{{ text }}</p>

        {% block footer %}{% endblock footer %}

    </div>
</div>