$self: ".demo-block";

@mixin demo-block {

  padding: 10px;

  #{$self}__wrapper {
    border: 1px solid black;
    padding: 10px;
  }

  #{$self}__text {
    color: green;
  }

}

@mixin type--arrow {
  @include demo-block;
}

@mixin type--circle {

  @include demo-block;

  color: orange;

}
