<div class="demo-block{% if class is defined %} {{ class }}{% endif %}">
    <div class="demo-block__wrapper">
        <p>{{ title }}</p>
        <p class="demo-block__text">{{ text }}</p>

        {% verbatim %}

        <p class="demo-block__intro"
           @click="onIntroClick">{{ introText }}</p>

         {% endverbatim %}

        {% block footer %}{% endblock footer %}

    </div>
</div>